.page-wrapper {

    max-width: 1700px;

    margin: auto;

    padding:28px 34px;

}

.kpi-section{

    display:grid;

    grid-template-columns:300px 1fr;

    gap:28px;

    margin-top:24px;

    align-items:stretch;

}

.overview-section{

    margin-top:32px;

    display:grid;

    grid-template-columns:2.2fr 1.2fr 0.9fr;

    gap:28px;

    align-items:start;

}